[Unit]
Description=WireGuard Server Container

[Container]
Image=lscr.io/linuxserver/wireguard:latest
AutoUpdate=registry
Pod=wireguard-server.pod
Environment=SERVERURL=rpi4b.hoang-himself.dev
Environment=PEERS=4
Environment=PERSISTENTKEEPALIVE_PEERS=all
AddCapability=NET_ADMIN NET_RAW
